/* .btnCadastrar{
    background-color: green;
    color: white;
}

.btnCancelar{
    background-color: #888;
    color: white;
} */

.toggle {
    align-items: center;
    display: flex;
}

.badges .badge {
    display: flex;
    margin-left: 5%;
}

.badges {
    display: flex;
    margin-left: 77%;
}

.camposEUI {
    margin-bottom: 2%;
}

.nextCad {
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.nextCad button {
    font-size: 16px;
    font-weight: bold;
    margin: 16px 10px;
    width: auto;
    text-decoration: none;
}

.TagList {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.Tag {
    background: rgb(47, 124, 3);
    border-radius: 3px;
    padding: 8px 12px;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: #ffefef;
}

.Tag:not(:last-child) {
    margin-right: 8px;
}

.boxVar {
    top: 10px;
    width: 200px;
}

.divCombo {
    display: flex;
    align-items: center;
    gap: 10px;
    
    button{
        background-color: rgb(47, 124, 3);
        color: #FFF;
        padding: 5px;
        border-color: transparent;
        border-radius: 5px;
        display: flex;
        height: 100%;
        margin-top: auto;
    }
}

.titleDialog {
    text-align: center;
}

.inputDialog {
    width: 290px;
}

.dialogCampo {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.varAdd {
}

.variaveis {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;

    span {
        flex-direction: row;
        display: flex;
        gap: 60px;
        

        label {
            font-size: 15px;
        }
    }
    button{
        border-radius: 5px;
        padding: 5px;
        background: rgb(228, 96, 96);
        color: #FFF;
        border-color: transparent;
        display: flex;
        
    }
    button:hover{
        background-color: rgb(238, 63, 63);
    }
}
