.buttonSelect{
    margin: 0 16px;
    background-color:rgb(14, 159, 111);
    color: #FFF;
    font-weight: bold;
    border: transparent;
    padding: 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonSelect:hover{
    background-color: rgb(28, 183, 131);
}

.styleGerencia{
    margin-bottom: 10px;
    
}

.textStyle{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 5px;
}

.adicinarSetor{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}