.lisType{
    display: block;
    justify-content: center;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    

}

.typeMap{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.btnFlex{
    justify-content: end;
    display: flex;
    align-items: center;
    padding: 5px;
}

.containerInput{
    margin-top: 100px;

}

.inputsName{
    width: 30%;
    
}

.var{
    
}

.inputs{
    margin: 20px;
    margin-bottom: 20px;
}

.btnSalvar{
    margin-left: 90%;
    width: 10%;
    height: 40px;
    background-color: rgb(38, 149, 38);
    border-radius: 10px;
    border: 1px solid rgb(38, 149, 38);
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    margin-top: -28px;
    cursor: pointer;
}

.btnSalvar:hover{
    background-color: transparent;
    color: rgb(38, 149, 38);
    border: 1px solid rgb(38, 149, 38);

}