.none{
    display: none;
}

.containerDeviceDash{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    box-sizing: border-box;
    /* background-color: indianred; */
}

.searchDeviceDash{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.divDataDeviceDash{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    padding: 1px 46px;
    margin-top: 40px;
    margin: auto;
}

.infoDevice{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 22px;
    margin-top: 2px;
}



.divDeviceTypeDash{/* nome do dispositivo */
    border-radius: 10px;
    box-sizing: border-box;
}


.divDeviceTypeDataDash{ /* lado de dentro */
    width: 100%;
    /* height: 25rem; */ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
}

.divDeviceTypeDash  p, h2 {
    margin-bottom: 0rem;
    font-size: 1.19rem;
}

.divDeviceTypeDash p{
    font-weight: 600;
}

.divDeviceTypeDash span{
    color: rgb(160, 159, 159);
}

.divImgDeviceDash{
    position: relative;
    width: 100%;
    border: solid 1px rgb(160, 159, 159);
    height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;
    /*-webkit-box-shadow: 0px 0px 1px 0px rgba(43,43,43,0.8); 
    box-shadow: 0px 0px 1px 0px rgba(43,43,43,0.8);*/
}

.divImgDeviceTitleDash{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
;
}
.divImgDeviceIMGDash{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.divImgDeviceIMGDash img{
    width: 100px;
}

.divTwinSquareDash{ /* dados do lado direito de telemetria */
    display: flex;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
}

.divTwinSquareNoDataDash{
    width: 90%;
    height: 100%;
    /*border: solid 1px rgb(160, 159, 159);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    /*padding: 10px;*/
    box-sizing: border-box;
    /*overflow:auto;*/

    /*-webkit-box-shadow: 0px 0px 1px 0px rgba(43,43,43,0.8); 
    box-shadow: 0px 0px 1px 0px rgba(43,43,43,0.8);*/
}

.divTwinRectangleDash{
    width: 100%;
    border: solid 1px rgb(160, 159, 159);
    display: flex;
    flex-direction: column;
    gap:5px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin: 0px 190px 10px 0px;
    /*-webkit-box-shadow: 0px 0px 1px 0px rgba(43,43,43,0.8); 
    box-shadow: 0px 0px 1px 0px rgba(43,43,43,0.8);*/
}

.divTwinDataDash{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divTwinInfoDash{
    margin-left: 2px;
    color: #a09f9f;
    font-size: 20px;
    margin: auto;
}

.divTwinStatisticDash{
   display: flex;
}



.divInfoMapsDash{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    /* background-color: green; */
}

.graphDash{
    width: 100%;
    border-radius: 10px;
    /*border: solid 1px rgb(160, 159, 159);*/
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: hotpink; */
    color: white;
    box-sizing: border-box;
    padding: 20px 5px 10px 5px;
    margin-bottom: 10px;
    overflow: auto;
    color: black;
    /*-webkit-box-shadow: 0px 0px 1px 0px rgba(43,43,43,0.8); 
    box-shadow: 0px 0px 1px 0px rgba(43,43,43,0.8);*/
    
}

.mapDash{
    width: 100%;
    /*border: solid 1px rgb(160, 159, 159);*/
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: indigo; */
    color: white;
    box-sizing: border-box;
    padding: 0px 5px 10px 5px;

    /*-webkit-box-shadow: 0px 0px 1px 0px rgba(43,43,43,0.8); 
    box-shadow: 0px 0px 1px 0px rgba(43,43,43,0.8);*/
    
}

.divTableDash{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableEmpty{
    width: 100%;
    border: solid 1px rgb(160, 159, 159);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
   /* -webkit-box-shadow: 0px 0px 1px 0px rgba(43,43,43,0.8); 
    box-shadow: 0px 0px 1px 0px rgba(43,43,43,0.8);*/
}

.selectPage{
    float: right;
    transform: translate(-440%, -180%);
}



@media screen and (max-height:800px){
    .divDataDeviceDash{
        max-height: 60vh;
    }

    .divDataDeviceDashNoBaterry{
        max-height: 60vh;
    }
}

@media screen and (max-width:950px){

    .searchDeviceDash{
        justify-content: center;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .divDataDeviceDash{
        width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 10px;
        padding: 10px;
        overflow:auto ;
    }

    .divDataDeviceDashNoBaterry{ /* responsividade mobile */
        width: 100%;
        max-height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 10px;
        padding: 10px;
        /*overflow:auto ;*/
        height: 50rem;
    }

    .divInfoMapsDash{
        grid-template-columns: 1fr;

        gap: 10px;
        /* background-color: green; */
    }

    .graphDash{
        width: 100%;
    }
    
    .mapDash{
        width: 100%;
    }
}