*{
    margin: 0;
    padding: 0;
}


.containerHome{
    position: relative;
    width: 100%;
    /*margin-top: 15px;*/
    margin-bottom: 10px;
    grid-template-columns: 1fr;
    /*grid-template-rows: 1fr;*/
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
    box-sizing: border-box;
}
.listMapDevice{
  width: 100%;
  display: flex;
  margin-top: 10px;
  grid-template-columns: 1fr; 
  justify-content: space-around;
  /*grid-gap: 1rem;
  gap: 1rem;*/
}

.divMapGraf{
    width: 100%;
        display: grid;
        flex-direction: row;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        border-radius: 10px;
        padding: 10px;
        justify-content: center;
        margin: 0px 0px;
        box-shadow: 0px 0px 0px 0px rgb(43 43 43 / 80%);
}

.divDataDeviceHome{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; */
    gap: 3rem;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    margin: 0px 0px;

    -webkit-box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8); 
    box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8);
    
}
.dataDevicesHomeAlert{
    display: flex;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.dataDevicesHome{
    display: flex;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    gap: 2rem;
    margin-top: 2rem;
}
.dataDevicesHomeRouter{
    display: flex;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    gap: 2rem;
    margin-top: 2rem;
}
.dataDevicesHomeBattery{
    display: flex;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.squareDataHomeAlert{
    width: 208px;
    height: 11rem;
    background-color: #F4C8C8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

    -webkit-box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8); 
    box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8);
}

.squareDataHomeAlert  p{
    font-weight: 550;
    padding: 5px; 
    color: #F84242;  
}

.squareDataHomeAlert span{
    color: #F84242;
    font-size: 35px;
}

.squareDataHome{
    width: 208px;
    height: 11rem;
    background-color: #FFF8CD;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

    -webkit-box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8); 
    box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8);
}

.squareDataHome  p{
    font-weight: 550;
    padding: 5px; 
    color: #B7811C;  
}

.squareDataHome span{
    color: #B7811C;
    font-size: 35px;
}
.squareDataHomeRouter{
    width: 208px;
    height: 11rem;
    background-color: #D0F2FF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

    -webkit-box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8); 
    box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8);
}

.squareDataHomeRouter  p{
    font-weight: 550;
    padding: 5px; 
    color: #0C53B7;  
}

.squareDataHomeRouter span{
    color: #0C53B7;
    font-size: 35px;
}
.squareDataHomeBattery{
    width: 208px;
    height: 11rem;
    border-radius: 10px;
    background-color: #C9FACE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

    -webkit-box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8); 
    box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8);
}

.squareDataHomeBattery  p{
    font-weight: 550;
    padding: 5px;
    color: #0F7B55;   
}

.squareDataHomeBattery span{
    color: #0F7B55;
    font-size: 35px;
}

.listDevicesHome{
    display: flex;
    width: 100%;
    /*flex-direction: column;*/
    justify-content:space-evenly;
    
    /*margin-right: -55px;*/
    
}

.listDevicesHome > h2{
    align-self: flex-start;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8); 
    box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8);
}

.divMapHome{
    display: flex;
    width: 100%;
    /*margin-top: 10px;*/
    margin-bottom: 10px;
    justify-content: end;
    /*margin-right: -58px;*/
}

.paperMaterial{
    padding: 10px;
    border-radius: 10px;
}

.circleIconSVibration{
    /* border: 1px solid #000; */
    border-radius: 50%;
    padding: 20px;
    background-image: linear-gradient(135deg, rgba(183, 129, 3, 0) 0%, rgba(231, 55, 55, 0.24) 100%);
}
.circleIconSCadatrados{
    /* border: 1px solid #000; */
    border-radius: 50%;
    padding: 20px;
    background-image: linear-gradient(135deg, rgba(183, 129, 3, 0) 0%, rgba(183, 129, 3, 0.24) 100%);
}

.circleIconSDados{
    border-radius: 50%;
    padding: 20px;
    background-image: linear-gradient(135deg, rgba(12, 83, 183, 0) 0%, rgba(12, 83, 183, 0.24) 100%);
}

.circleIconAEnviados{
    border-radius: 50%;
    padding: 20px;
    background-image: linear-gradient(135deg, rgba(0, 123, 85, 0) 0%, rgba(0, 123, 85, 0.24) 100%);
}

@media screen and (max-width:769px){
    .divDataDeviceHome {
        width: 100%;
        display: grid;
        flex-direction: row;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        gap: 1rem;
        border-radius: 10px;
        padding: 10px;
        justify-content: center;
        margin: 0px 0px;
        box-shadow: 0px 0px 0px 0px rgb(43 43 43 / 80%);
    }
    .squareDataHomeAlert {
        width: 90%;
    }
    .squareDataHome {
        width: 90%;
    }
    .squareDataHomeRouter {
        width: 90%;
    }
    .squareDataHomeBattery {
        width: 90%;
    }
    .divMapHome{
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width:480px){
    .divMapHome{
        display: flex;
        width: 100%;
    }
    .containerHome{
        position: relative;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 10px;
        grid-template-columns: 1fr;
        /*grid-template-rows: 1fr;*/
        gap: 10px;
        /* background-color: red; */
        box-sizing: border-box;
    }
    .divDataDeviceHome{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: row;
        /*grid-template-rows: 1fr;*/
        /*gap: 1rem;*/
        border-radius: 10px;
        padding: 10px;
        justify-content: center;
        margin: 0px 10px;
    
        -webkit-box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8); 
        box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8);
        
    }
    
    .dataDevicesHome{
        display: flex;
        grid-template-columns: 1fr;
        align-content: center;
        justify-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }
    .dataDevicesHomeAlert{
        display: flex;
        grid-template-columns: 1fr;
        align-content: center;
        justify-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }
    .dataDevicesHomeRouter{
        display: flex;
        grid-template-columns: 1fr;
        align-content: center;
        justify-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }
    .dataDevicesHomeBattery{
        display: flex;
        grid-template-columns: 1fr;
        align-content: center;
        justify-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }
    
    .squareDataHome{
        width: 95%;
        height: 15rem;
        background-color: #FFF8CD;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 40px;
        box-sizing: border-box;
        text-align: center;
    
        -webkit-box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8); 
        box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8);
    }
    
    .squareDataHomeAlert  p{
        font-weight: 550;
        padding: 5px; 
        color: #F84242;  
    }
    
    .squareDataHomeAlert span{
        color: #F84242;
        font-size: 35px;
    }
    .squareDataHomeAlert{
        width: 95%;
        height: 15rem;
        background-color: #F4C8C8;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 40px;
        box-sizing: border-box;
        text-align: center;
    
        -webkit-box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8); 
        box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8);
    }
    
    .squareDataHome  p{
        font-weight: 550;
        padding: 5px; 
        color: #B7811C;  
    }
    
    .squareDataHome span{
        color: #B7811C;
        font-size: 35px;
    }
    .squareDataHomeRouter{
        width: 95%;
        height: 15rem;
        background-color: #D0F2FF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 39px;
        box-sizing: border-box;
        text-align: center;
    
        -webkit-box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8); 
        box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8);
    }
    
    .squareDataHomeRouter  p{
        font-weight: 550;
        padding: 5px; 
        color: #0C53B7;  
    }
    
    .squareDataHomeRouter span{
        color: #0C53B7;
        font-size: 35px;
    }
    .squareDataHomeBattery{
        width: 95%;
        height: 15rem;
        border-radius: 10px;
        background-color: #C9FACE;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 49px;
        box-sizing: border-box;
        text-align: center;
    
        -webkit-box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8); 
        box-shadow: 0px 0px 0px 0px rgba(43,43,43,0.8);
    }
    
    .squareDataHomeBattery  p{
        font-weight: 550;
        padding: 5px;
        color: #0F7B55;   
    }
    
    .squareDataHomeBattery span{
        color: #0F7B55;
        font-size: 35px;
    }
    
    .paperMaterial{
        padding: 10px;
        border-radius: 10px;
    }
    
    .circleIconSCadatrados{
        /* border: 1px solid #000; */
        border-radius: 50%;
        padding: 20px;
        background-image: linear-gradient(135deg, rgba(183, 129, 3, 0) 0%, rgba(183, 129, 3, 0.24) 100%);
    }
    
    .circleIconSDados{
        border-radius: 50%;
        padding: 20px;
        background-image: linear-gradient(135deg, rgba(12, 83, 183, 0) 0%, rgba(12, 83, 183, 0.24) 100%);
    }
    
    .circleIconAEnviados{
        border-radius: 50%;
        padding: 20px;
        background-image: linear-gradient(135deg, rgba(0, 123, 85, 0) 0%, rgba(0, 123, 85, 0.24) 100%);
    }
    
}